#user-login, #user-register-form { margin: 1em; position: relative;  }

#user-login > div, #user-register-form > div { margin-right: 50%; }

#user-login > div, #user-register-form > div { margin-right: 50%; }

#google-openid-signin-block { width: 45%;position: absolute; top: 1em; right: 0; border-left: 1px solid #aaa;  }
#google-openid-signin-block ul.federated-buttons { margin: 0 0 0 2em; list-style:none;  }
#google-openid-signin-block ul.federated-buttons li { margin: 0; padding: .25em 0; }